<ion-view view-title="Browse">
    <ion-header-bar align-title="left" ng-click="activateSearch()">
        <div class="buttons" >
            <button class="button button-icon ion-ios-search-strong" > Search</button>
        </div>        
    </ion-header-bar>
    <ion-content>
        <div class="imageHolder">
            <div class="imageFrameThree">
                <img src="http://images.fineartamerica.com/images-medium-large/nature-square--saddleback-dragonfly-carol-groenen.jpg" ng-click="browseDetail(5)">
            </div>            
            <div class="imageFrameThree">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Dundus_Square.jpg">
            </div>
            <div class="imageFrameThree">
                <img src="https://www.nycgovparks.org/photo_gallery/full_size/14413.jpg">
            </div>
            <div class="imageFrameThree">
                <img src="https://www.nycgovparks.org/photo_gallery/full_size/14413.jpg">
            </div>
            <div class="imageFrameThree">
                <img src="https://www.nycgovparks.org/photo_gallery/full_size/14413.jpg">
            </div>
        </div>
    </ion-content>
</ion-view>